html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    color: white;
}

body {
    font: normal normal normal 14px "Source Code Pro";
}

h1 {
    font-size: 150%;
    margin-top: 2ex;
}
