html, body {
    background: black;
    color: white;
}

body {
    width: 400px;
    margin: 15px;
}

body {
    font: normal normal normal 14px "Source Code Pro";
    line-height: 20px;
}

h1 {
    font-size: 150%;
    margin-top: 2ex;
}

.graph {
    position: relative;
}

.graph button {
    position: absolute;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    width: 20px;
    height: 20px;
    top: 40px;
    left: 240px;
    color: transparent;
}

.hidden.graph canvas {
    visibility: hidden;
}

.hidden.graph button {
    color: white;
}

.node-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.not-set.node-icon {
    background:
        linear-gradient(to bottom right, 
                        transparent 47%, #fff 47%, #fff 53%, transparent 53%),
        linear-gradient(to bottom left ,
                        transparent 47%, #fff 47%, #fff 53%, transparent 53%);
}

body>ul>* {
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px;
}

body>ul>li>span {
    display: inline-block;
    margin: 0 4px;
}

body>ul>li>span.number {
    width: 60px;
    text-align: right;
}

body>ul>li>span.unit {
    width: 30px;
}

body>ul>li>input {
    display: inline-block;
    width: 180px;
    height: 14px;
    margin: 0;
    padding: 3px 0;
    vertical-align: top;
}

input[type=range] {
    background: transparent;
}

input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    background-color: white;
    height: 2px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: white;
    height: 2px;
}

input[type="range"]::-moz-range-thumb {
  position: relative;
  height: 14px;
  width: 14px;
  margin-top: -6px;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  height: 14px;
  width: 14px;
  margin-top: -6px;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
}

input:focus {
    outline: none;
}

