html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    color: white;
}

body>* {
    height: 100%;
    overflow: hidden;
    float: left;
}

#node-ui {
    width: 20%;
}

#structure {
    width: 80%;
}
