$finegray: #f4f4f4;

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: normal normal normal 15px/17px "Source Sans Pro";
}

div.log {
    font: normal normal normal 13px/15px "Source Code Pro";

    overflow-x: hidden;
    overflow-y: auto;

    ul {
        $indent-width: 15px;
        margin-top: auto;
        width: 100%;

        li {
            white-space: nowrap;
            padding-left: $indent-width;

            &::before {
                display: inline-block;
                margin-left: -$indent-width;
                width: $indent-width;
            }

            &.error {
                background: hsl(0, 100%, 97%);
                color: red;

                &::before {
                    content: "⦻";
                }
            }

            &.input::before {
                content: ">";
            }

            &>pre {
                display: inline-block;
                vertical-align: top;
                white-space: pre-wrap;
                word-break: initial;
                word-wrap: break-word;
                overflow-wrap: break-word;
            }

            &.info {
                background: $finegray;
                color: blue;

                &::before {
                    content: "ⓘ";
                }
            }

            &.warn {
                background: hsl(50, 100%, 95%);
                color: hsl(39, 100%, 18%);

                &::before {
                    content: "⚠";
                }
            }
        }
    }
}
